@media (max-width: 1279px) {
    html {
        font-size: 95%;
    }

    body .section-numbersInfo {
        height: 800px;
    }

    body .section-numbersInfo .wrapper-numbersInfo {
        display: flex;
        flex-direction: column;
    }

    body .section-numbersInfo .wrapper-numbersInfo > div:nth-of-type(2) {
        padding: 150px 0;
    }

    body .text-wordsInfo {
        text-align: center;
    }
}

@media (max-width: 767px) {
    html {
        font-size: 90%;
    }

    body .main-header {
        height: 180px;
    }

    body .main-header .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    body .main-header .container div:nth-of-type(2){
        margin-bottom: 20px;
    }
}