@media (max-width: 1279px) {
    html {
        font-size: 95%;
    }

    body .section-numbersInfo {
        height: 800px;
    }

    body .section-numbersInfo .wrapper-numbersInfo {
        display: flex;
        flex-direction: column;
    }

    body .section-numbersInfo .wrapper-numbersInfo > div:nth-of-type(2) {
        padding: 150px 0;
    }

    body .text-wordsInfo {
        text-align: center;
    }
}

@media (max-width: 1189px) {
    body .section-banner {
        height: 150%;
    }

    body .section-banner .wrapper-banner {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        
    }

    .section-banner .wrapper-titleAndText {
        align-self: center;
    }

    body .img-phone {
        margin: auto;
    }
    
    body .section-banner .circle-banner {
        margin: 0 auto;
        margin-bottom: 30px;
    }

    body .section-faqs .box-comments {
        flex-direction: column;
        align-items: center;
    }

    body .section-faqs .box-comments .box-avatar{
        margin-bottom: 40px;
        
    }
}

@media (max-width: 1023px) {
    body .section-suport {
        display: flex;
        justify-content: center;
    }

    body .section-suport .wrapper-cards-support {
        display: block;
        width: 60%;
        max-height: none;
    }

    body .main-footer {
        height: 1200px;
    }

    body .main-footer .wrapper-footer-infos {
        flex-direction: column;
        align-items: center ;
    }

    body .main-footer .support-contact{
        margin: none;
        text-align: center;
    }

    body .main-footer .support-contact p:nth-of-type(3) {
        margin: 100px 0px 20px 0px;
    }

    body .main-footer .wrapper-icons-sociais {
        justify-content: space-evenly;
        width: 100%;
        margin-bottom: 40px;
    }
}

@media (max-width: 767px) {
    html {
        font-size: 90%;
    }

    body .main-header {
        height: 180px;
    }

    body .main-header .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    body .main-header .container div:nth-of-type(2){
        margin-bottom: 20px;
    }

    body .title-banner {
        text-align: center;
    }

    body .text-banner {
        text-align: center;
        
    }

    body .section-about {
        padding: 50px 0;
        max-height: none;
        height: auto;
    }
    body .section-suport {
        padding-bottom: 100px;
    }

    body .section-suport .wrapper-cards-support {
        width: 95%;
    }
}

@media (max-width: 489px) {
    body .main-footer .form-footer {
        width: 90%;
    }

    body .main-footer .nav-footer ul li a {
        font-size: 1rem;
    }

    body .section-faqs .box-comments .box-avatar {
        width: 300px;
    }
}

@media (max-width: 420px) {
    body #dropdownMenuButton1 {
        font-size: 1.5rem;
    }

    body .main-footer .nav-footer ul li {
        margin-right: 25px;
    }

    body .main-footer .nav-footer ul li a {
        font-size: 70%;
    }
}

@media (max-width: 350px) {
    body .img-phone {
        width: 300px;
    }

    body .containerForm {
        width: 100%;
        height: 100%;
    }

    body .section-faqs .box-comments .box-avatar {
        width: 250px;
    }
}