.text-logo {
    font: 3.8rem 'Sriracha', cursive;;
    color: #7683A8;
    cursor: pointer;
}

.text-login {
    font: 2rem 'Roboto', sans-serif;
    text-decoration: none;
    color: #7683A8;
    margin-right: 25px;
}

.text-login:hover {
    opacity: 50%;
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

.text-signIn {
    font: 2rem 'Roboto', sans-serif;
    text-decoration: none;
    color: #fff;
    padding: 10px 35px;
    background-color: #4064DB;
    border-radius: 29px;
}

.text-signIn:hover {
    opacity: 50%;
}

.text-numbersInfo {
    font: 4rem "Roboto", sans-serif;
    font-weight: 600;
    line-height: 4.7rem; 
    color: #fff;
    text-align: center;
}

.text-wordsInfo {
    font: 2.4rem "Roboto", sans-serif;
    color: #fff;
}

.title-about {
    font: 2rem 'Scada', sans-serif;
    line-height: 37.32px;
    font-weight: 700;
    color: #4064DB;
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
}

.text-about {
    font: 1.5rem 'Scada', sans-serif;
    color: #7683A8;
    margin: 50px 50px;
}   

.link-about {
    font: 1.6rem 'Scada', sans-serif;
    color: #4064DB;
    text-decoration: none;
    text-align: right;
    position: absolute;
    bottom: 50px;
    right: 100px;
}