.section-banner {
    background-color: #5128E2;
    width: 100%;
    height: calc(100vh - 100px);
    max-width: 1920px;
    max-height: 1080px;
    position: relative;
    z-index: 0;
}

.section-banner::after {
    content: '';
    height: 30px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: linear-gradient(to top, #1c05224f, transparent);
    z-index: 5;
}

.section-banner .wrapper-banner {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
}

.section-banner .wrapper-titleAndText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.section-banner .circle-banner {
    background-color: #8760FF;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
    cursor: pointer;
}

.section-banner .circle-banner:hover {
    transform: scale(1.02);
}

.section-banner .circle-banner:hover > svg {
    animation: slideDown .5s;
    animation-fill-mode: forwards;
}

@keyframes slideDown {
    to {
        transform: translateY(30px);
    }
}

.section-numbersInfo {
    background-color: #4064DB;
    width: 100%;
    max-width: 1920px;
    height: 372px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-numbersInfo .wrapper-numbersInfo {
    display: flex;
    justify-content: space-evenly;
}

.section-numbersInfo .wrapper-numbersInfo > div:nth-of-type(2) {
    padding: 0px 200px;
}

