.text-logo {
    font: 3.8rem 'Sriracha', cursive;;
    color: #7683A8;
    cursor: pointer;
}

.text-login {
    font: 2rem 'Roboto', sans-serif;
    text-decoration: none;
    color: #7683A8;
    margin-right: 25px;
}

.text-login:hover {
    opacity: 50%;
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

.text-signIn {
    font: 2rem 'Roboto', sans-serif;
    text-decoration: none;
    color: #fff;
    padding: 10px 35px;
    background-color: #4064DB;
    border-radius: 29px;
}

.text-signIn:hover {
    opacity: 50%;
}

.title-banner {
    font: 10rem "Sriracha", cursive;
    color: #8760FF;
}

.text-banner {
    font: 30px "Scada", sans-serif;
    color: #ededed;
}

.text-numbersInfo {
    font: 4rem "Roboto", sans-serif;
    font-weight: 600;
    line-height: 4.7rem; 
    color: #fff;
    text-align: center;
}

.text-wordsInfo {
    font: 2.4rem "Roboto", sans-serif;
    color: #fff;
}