.main-footer {
    background-color: #4064DB;
    width: 100%;
    max-width: 1920px;
    height: 700px;
}

.main-footer .wrapper-footer-infos {
    display: flex;
    justify-content: space-around;
    margin-top: 105px;
}

.main-footer .support-contact h3{
    font: 2.5rem "Roboto", sans-serif;
    color: #EDEDED;
    margin-bottom: 40px;
    margin-left: 30px;
}

.main-footer .support-contact p:nth-of-type(1) {
    font: 1.3rem "Roboto", sans-serif;
    color: #EDEDED;
    margin-bottom: 34px;
}

.main-footer .support-contact p:nth-of-type(2) {
    font: 1.3rem "Roboto", sans-serif;
    color: #EDEDED;
}

.main-footer .support-contact p:nth-of-type(3) {
    font: 1.3rem "Roboto", sans-serif;
    color: #EDEDED;
    margin-top: 100px;
    margin-left: 50px;
}

.main-footer .wrapper-icons-sociais {
    display: flex;
    justify-content: space-around;
    width: 60%;
}


.main-footer .form-footer {
    width: 390px;
}

.main-footer .form-footer input {
    background-color: #EDEDED;
    border-radius: 20px;
    border: none;
    padding: 0 20px;
    width: 100%;
    height: 40px;
    margin-bottom: 40px;
    font: 1.3rem "Roboto", sans-serif;
}

.main-footer .form-footer textarea {
    background-color: #EDEDED;
    border-radius: 20px;
    border: none;
    padding: 5px 20px;
    width: 100%;
    height: 190px;
    margin-bottom: 40px;
    font: 1.3rem "Roboto", sans-serif;
    resize: none;
}


.main-footer .form-footer .input-button {
    padding: 7px 25px;
    background-color: #ededed;
    font: 1.3rem "Roboto", sans-serif;
    color: #959595;
    border: none;
    border-radius: 20px;
    float: right;   
}

.main-footer .form-footer .input-button:hover {
    transform: scale(1.02);
}

.main-footer .nav-footer ul {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.main-footer .nav-footer ul li{
    margin-right: 30px;
    list-style: none;
    position: relative;
}

.main-footer .nav-footer ul li a {
    font: 1.3rem "Roboto", sans-serif;
    color: #ededed;
    text-decoration: none;
}

.main-footer .nav-footer ul li::after {
    content: '';
    width: 2px;
    height: 25px;
    background-color: #ededed;
    position: absolute;
    margin-left: 10px;
}

.main-footer .nav-footer ul li:last-child::after {
    display: none;
}

.main-footer .copy-text {
    font: 1.1rem "Roboto", sans-serif;
    color: #edededaa;
    text-align: center;
    margin-top: 40px;
}
