.section-about {
    position: relative;
    background-color: aliceblue;
    width: 100%;
    max-width: 1920px;
    height: 100vh;
    max-height: 1000px;
}

.wrapper-about {
    background-color: #fff;
    width: 80%;
    min-height: 80%;
    display: flex;
    box-shadow: 10px 10px 10px #d7d7d7;
    border-radius: 10px;
}

.img-about {
    width: 50%;
    height: 100%;
}

.wrapper-titleAndText-about {
    width: 50%;
    height: 100%;
}

.title-about {
    font: 2.5rem "Scada", sans-serif;
    color: #4064DB;
    margin: 40px 0;
    text-align: center;
}

.text-about {
    font: 1.3rem "Scada", sans-serif;
    color: #7683A8;
    margin: 50px 50px 0;
}