.section-about {
    position: relative;
    background-color: aliceblue;
    width: 100%;
    max-width: 1920px;
    height: 100vh;
    max-height: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-about::before {
    content: '';
    height: 30px;
    width: 100%;
    position: absolute;
    top: 0;
    background: linear-gradient(to bottom, #1c05224f, transparent);
    z-index: 5;
}

.section-about::after {
    content: '';
    height: 30px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: linear-gradient(to top, #1c05224f, transparent);
    z-index: 5;
}

.section-about .wrapper-cardAbout {
    background-color: #fff;
    width: 90%;
    height: 76%;
    box-shadow: 10px 10px 10px #d7d7d7;
    border-radius: 10px;
    display: flex;
}

.section-about .image-about {
    width: 55%;
    height: 100%;
    border-radius: 10px 0 0 10px;
}

.section-about .card-about {
    width: 45%;
    height: 100%;
    position: relative;
}